################################################################################
#
#	SYSTEM NAME:	Oracle RAC Operation Utility
#						Copyright (c) 2013 t.ashihara All rights reserved.
#	FUNCTION NAME:
#	DESCRIPTION:
#	ARGUMENTS:
#	RETERN:
#	HISTORY:
#
#	DATE		AUTHOR		COMMENTS
#	2013.07.03	t.ashihara	Create v0.1.
#
################################################################################

################################################################################
# Cluster Status
################################################################################
export _VERSION="v0.1"
export _CHECK_USER="grid"						#

export _STS_REFRESH_INTERVAL=5 					# sec
export _STS_NAME_MAX_LENGTH=32 					# chars

export _STS_MODE_ORIGINAL=0						# Display cluster status in original format.
export _STS_MODE_CRSCTL=1						# Display cluster status with "crsctl status resource -t".
export _STS_MODE_CRSSTAT=2						# Display cluster status with "crs_stat -t".
export _STS_MODE_MAX=${_STS_MODE_CRSSTAT}

export _STS_ONOFF="\e[30;43m"					# target/status = ONLINE  / OFFLINE
export _STS_OFFOFF="\e[37;41m"					# target/status = OFFLINE / OFFLINE
export _STS_OTHERS="\e[37;44m"					# target/status = others

export _STS_INACTIVE="\e[37;41m"				# node inactive

################################################################################
# Escape Code
################################################################################
export _ESC_BLACK="\e[30m"						# [char color]  Black
export _ESC_RED="\e[31m"						# [char color]  Red
export _ESC_GREEN="\e[32m"						# [char color]  Green
export _ESC_YELLOW="\e[33m"						# [char color]  Yellow
export _ESC_BLUE="\e[34m"						# [char color]  Blue
export _ESC_MAGENTA="\e[35m"					# [char color]  Magenta
export _ESC_CYAN="\e[36m"						# [char color]  Cyan
export _ESC_WHITE="\e[37m"						# [char color]  White

export _ESC_B_BLACK="\e[;40m"					# [back color]  Black
export _ESC_B_RED="\e[;41m"						# [back color]  Red
export _ESC_B_GREEN="\e[;42m"					# [back color]  Green
export _ESC_B_YELLOW="\e[;43m"					# [back color]  Yellow
export _ESC_B_BLUE="\e[;44m"					# [back color]  Blue
export _ESC_B_MAGENTA="\e[;45m"					# [back color]  Magenta
export _ESC_B_CYAN="\e[;46m"					# [back color]  Cyan
export _ESC_B_WHITE="\e[;47m"					# [back color]  White

export _ESC_BD="\e[;;1m"						# Bold
export _ESC_LI="\e[;;2m"						# Low intensity
export _ESC_US="\e[;;4m"						# Underscore
export _ESC_BK="\e[;;5m"						# Blink
export _ESC_RV="\e[;;7m"						# Reverse video
export _ESC_IV="\e[;;8m"						# Invisible text

export _ESC_RS="\e[m"							# reset

